// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

$headingFont: "Montserrat", sans-serif;
$generalFont: "Fira Sans", serif;

// Colours
$mainBackgroundColour: rgb(63, 63, 63);
$accentBackgroundColour: rgb(83, 83, 83);
$mainAccentColour: rgb(161, 255, 94);
$shadowColour: rgba(0, 0, 0, 0.141); 
$fontColour: rgb(237, 237, 237);
$dropdownColour: rgba(255, 255, 255, 0.872);


// Breakpoints 
$tabletView: 650px;
$desktopView: 970px;